<!------------------ Text / Image block ------------------>

<section class="{{block.background-color}} my-10 px-6">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 container mx-auto">
    
    <!------------------ Image  ------------------>
    <div class="lg:relative {% if block.image-position == 'right' %} order-2 {% endif %} ">
      <img class="lg:absolute lg:h-full h-[40vh] w-full object-cover" src="{{block.image}}">
    </div>

    <!------------------ Text  ------------------>
    <div>
      <h3 class="text-lg pb-6">{{block.heading}}</h3>
      <p>{{block.copy-html}}</p>
    </div>

    </div>
</section>


